.env
__pycache__/
.DS_Store
cover_letter.md
full_profile.md
job_research.md
original_cover_letter.md
original_resume.md
profile.md
resume.md
salary.md
script.py
resume.html
cover_letter.html
final_review.md
profile_fit_evaluation.md
job_application_details.json
job_applications.csv